 .shared {
    background-color: #f9a3a3;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
 }
 #num-two {
   color:#0000ff;
   font-size: 36px;
 }

 .font{
   font-size: 24px;
 }

 #num-four{
   background-color: #90ee90;
   font-weight: bold;
 }