body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  height: 210px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

div {
  margin: 10px auto;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 30px;
}