 body {
  font-family: Arial, Helvetica, sans-serif;
}
 
 p {
  font-weight: 800;
  color: hsl(0, 0%, 0%);
 }

 .para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  font-size: 20px;
}

.cancel {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.text.child {
  font-weight: 800;
  font-size: 14px;
}